body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 480px;
  min-width: 130px;
  height: 100vh;
  min-height: 730px;
  max-height: 970px;
  overflow: hidden;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 970px;
  background: url("./assets/bg-Stina.jpg") top 0 left 0 / cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.logo {
  width: calc(182 / 480 * 100%);
  height: auto;
  position: absolute;
  top: calc(47 / 970 * 100%);
  right: calc(58 / 480 * 100%);
}

.swiper.swiper--custom-mod {
  margin: 0;
  top: calc(123 / 970 * 100%);
  left: 50%;
  transform: translateX(-50%);
  width: calc(372 / 480 * 100%);
  height: calc(372 / 970 * 100%);
  max-width: 372px;
}

.swiper__image {
  width: 100%;
  height: auto;
}

.swiper__container {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 100;
}

.swiper-button-next.swiper__button--next,
.swiper-button-prev.swiper__button--prev {
  position: static;
  margin: 0;
}

.swiper-button-next.swiper__button--next img,
.swiper-button-prev.swiper__button--prev img {
  width: 24px;
  height: 24px;
}

.swiper-button-prev.swiper__button--prev {
  transform: rotateY(180deg);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper.swiper--custom-mod .swiper-pagination {
  position: static;
  display: flex;
  gap: 6px;
  justify-content: center;
}

.swiper.swiper--custom-mod .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background-color: #d9d9d9;
  margin: 0 !important;
}

.content {
  width: 100%;
  position: absolute;
  top: calc(601 / 970 * 100%);
  left: 0;
}

.title {
  width: calc(268 / 480 * 100%);
  height: auto;
  margin: 0 auto 24px auto;
  display: block;
}

.button {
  width: calc(285 / 480 * 100%);
  height: auto;
  margin: 0 auto;
  display: block;
  animation: pulse 1.5s 3s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 250px) {
  .logo {
    width: calc(145 / 250 * 100%);
  }

  .content {
    top: calc(421 / 900 * 100%);
  }

  .title {
    width: calc(202 / 250 * 100%);
  }

  .button {
    width: calc(202 / 250 * 100%);
  }

  .swiper.swiper--custom-mod {
    height: calc(238 / 900 * 100%);
  }

  .swiper__container {
    gap: 10px;
  }

  .swiper.swiper--custom-mod .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
  }

  .swiper-button-next.swiper__button--next img,
  .swiper-button-prev.swiper__button--prev img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 200px) {
  .swiper.swiper--custom-mod {
    height: calc(170 / 730 * 100%);
  }

  .swiper__container {
    gap: 7px;
  }

  .logo {
    width: calc(112 / 170 * 100%);
    height: calc(40 / 900 * 100%);
  }

  .swiper-button-next.swiper__button--next,
  .swiper-button-prev.swiper__button--prev {
    width: 16px;
    height: 16px;
  }
}
/*Preload*/

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
